@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/open-sans-400.eot");
  src: local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("./fonts/open-sans-400.eot?#iefix") format("embedded-opentype"),
    url("./fonts/open-sans-400.woff2") format("woff2"),
    url("./fonts/open-sans-400.woff") format("woff"),
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  background: #05426C;
}

a {
  color: #ffffff;
  text-decoration: none;
}