@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/open-sans-400.eot");
  src: local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("./fonts/open-sans-400.eot?#iefix") format("embedded-opentype"),
    url("./fonts/open-sans-400.woff2") format("woff2"),
    url("./fonts/open-sans-400.woff") format("woff"),
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/open-sans-700.eot");
  src: local("Open Sans Bold"),
    local("OpenSans-Bold"),
    url("./fonts/open-sans-700.eot?#iefix") format("embedded-opentype"),
    url("./fonts/open-sans-700.woff2") format("woff2"),
    url("./fonts/open-sans-700.woff") format("woff"),
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: normal;
  text-align: left;
  background: rgb(63,89,251);
  background: radial-gradient(circle, rgba(63,89,251,1) 0%, rgba(1,0,5,1) 75%); 
}

a {
  color: #ffffff;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}