.button-buy {
  font-size: clamp(13px, 1.5vw, 18px);
  border: 2px solid;
  border-radius: 5px;
  background: none;
  transition: color 500ms ease, text-shadow 500ms ease;
  cursor: pointer;
}

.button-buy:hover {
  color: #ff0000;
  text-shadow: 0 0 10px white;
}