.button-buy {
  padding: 10px;
  font-size: 18px;
  border: 2px solid;
  border-radius: 5px;
  background: none;
  transition: color 500ms ease, background-color 500ms ease;
  cursor: pointer;
}

.button-buy:hover {
  color: #fff;
  border-color: #05426C;
  background-color: #05426C;
}