.hexagon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 100%;
}

.hexagon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  color: #000000;
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;

  &--main {
    width: 160px;
    height: 278px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &--middle {
    width: 90px;
    height: 150px;
    margin: 0 auto;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  &--small {
    align-items: center;
    width: 70px;
    height: 120px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
  }

  &::after {
    transform: rotate(-60deg);
  }

  &::before {
    transform: rotate(60deg);
  }
}

.hexagon__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hexagon__info-place {
  margin-bottom: 25px;
  font-size: 20px;
}


.hexagon__info-date {
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;

  &--main {
    font-size: 23px;
  }

  &--middle {
    font-size: 15px;
    text-align: center;
  }

  &--small {
    font-size: 12px;
    text-align: center;
  }
}

.hexagon__info-time {
  margin-bottom: 20px;
  font-size: 20px;
}