.hexagon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 100%;
}

.hexagon {
  position: relative;
  display: flex;
  font-family: "Open Sans";
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  background-position: center center;

  &--main {
    width: max(11vw, 95px);
    height: max(19vw, 163px);
    padding: max(1vw, 10px);
    border-radius: .3vw;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 9.5vw);
    left: calc(50% - 5.5vw);
    z-index: -1;
    width: max(11vw, 95px);
    height: max(19vw, 163px);
    border-radius: .3vw;
    background-color: #fff;
  }

  &::after {
    transform: rotate(-60deg);
  }

  &::before {
    transform: rotate(60deg);
  }
}

.hexagon__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hexagon__info-place {

  &--main {
    margin-bottom: .5vw;
    font-size: max(1.5vw, 13px);
  }
}


.hexagon__info-date {
  font-weight: 700;
  text-transform: uppercase;

  &--main {
    margin-bottom: .5vw;
    font-size: max(1.7vw, 15px);
  }
}

.hexagon__info-time {

  &--main {
    margin-bottom: .5vw;
    font-size: max(1.5vw, 13px);
  }
}