.main__events {
  width: 1000px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.main__event {
  position: relative;
  display: flex;

  &--first {
    left: 785px;
    width: 138px;
    margin-bottom: -60px;
  }

  &--second {
    left: 635px;
    width: 175px;
    margin-bottom: -75px;
  }

  &--third {
    left: 375px;
    width: 320px;
  }

  &--fourth {
    left: 260px;
    width: 175px;
    margin-top: -75px;
  }

  &--fifth {
    left: 145px;
    width: 138px;
    margin-top: -60px;
  }
}