.main__events {
  max-width: 1500px;
  list-style: none;
}

.main__event {
  position: relative;
  display: flex;
  width: max(22vw, 190px);

  &--first {
    left: calc(80% - 122px);
  }

  &--second {
    left: calc(65% - 122px);
  }

  &--third {
    left: calc(50% - 122px);
  }

  &--fourth {
    left: calc(35% - 122px);
  }

  &--fifth {
    left: calc(20% - 122px);
  }
}